bin
obj
.vs
/_PAGES/code_coverage_report/*
/_PAGES/unit_test_report/*
*.trx
/_Test_Results/coverage.json
*coverage.opencover.xml
*coverage.json
/_Test_Results/*
/_DOCUMENTATION/latex
/_DOCUMENTATION/html
/packages/*
venv
dist/
__pycache__/
*egg-info*
.idea
/_INTERFACES/EQube_Python/src/lib/
/_INTERFACES/EQube_Python/tests/_Pages/python_unit_test_results_html/out_report.xml
/_PAGES/python_unit_test_results_html/out_report.xml
/_PAGES/python_test_logs_html/pytest_logs.txt
/_INTERFACES/_Pages/python_test_logs_html/pytest_logs.txt
/_PAGES/python_test_logs/pytest-logs.txt
/_PAGES/python_test_results/out_report.xml
/_PAGES/python_test_results/python_interface_tests.html
/_PAGES/python_test_results/test_report.html
/_INTERFACES/EQube_Python/.coverage
/_INTERFACES/EQube_Python/.coverage
*.coverage
/_INTERFACES/EQube_Python/build/
/_INTERFACES/EQube_Python/EQube_Python/lib/
/_PAGES/python_tests/
TestResults
/_INTERFACES/_Pages/python_tests/*
.ipynb_checkpoints
/PythonInterface/src/lib/*
