bin
obj
.vs
*.trx
/_Test_Results/*
/packages/*
venv
dist/
__pycache__/
*egg-info*
.idea
*.coverage
TestResults
.ipynb_checkpoints
/PythonInterface/src/lib/*
/PythonInterface/build/lib/PythonInterface/lib/*
/PythonInterface/PythonInterface/lib/*
