<?xml version="1.0" encoding="utf-8" ?>
<log4net>

	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
		<file  type="log4net.Util.PatternString"  value="DemoConversion.log" />
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<threshold value="DEBUG" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
		<maxSizeRollBackups value="1" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%3thread] %-5level %-40.40logger %-35.35method %message %newline"/>
		</layout>
	</appender>

	<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%3thread] %-5level %-30.30logger %-35.35method %message %newline"/>
		</layout>
	</appender>
	

	<root>		
		<appender-ref ref='RollingFile' />
		<appender-ref ref='TraceAppender' />
	</root>


</log4net>